@font-face {
    font-family: 'Andika';
    src: url('fonts/Andika/Andika-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Andika';
    src: url('fonts/Andika/Andika-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orelega One';
    src: url('fonts/Orelega_One/OrelegaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #535353;
    font-family: 'Andika';
    color: rgb(255, 255, 255, 0.89);
    font-size: 24px;
}

h1 {
    font-family: "Orelega One", serif;
    color: rgb(255, 255, 255, 0.89);
    font-size: 96px;
    margin: 25px 0;
}

h2 {
    font-family: "Orelega One", serif;
    color: rgb(255, 255, 255, 0.89);
    font-size: 64px;
}

.andika-regular {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.andika-bold {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.orelega-one-regular {
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-style: normal;
}
  
.head__main {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-image: url('background.png');
    background-size: cover;
}

.head__main .article_h1 {
   justify-content: center; 
}

.navigation {
    display: flex;
    padding: 20px 120px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
}

.navigation li {
    display: inline;
    font-size: 24px;
    opacity: 89%;
}

.navigation ul {
    display: flex;
    gap: 54px
}

.nav-bar > li > button {
    background-color: #ffffff00;
    border: none;
    color: rgb(255, 255, 255);
    opacity: 89%;
    transition: 150ms;
}

.nav-bar > li > button:hover,
.nav-bar > li > button:focus {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    opacity: 100%;
}

.admin li {
    display: inline;
    font-size: 24px;
    opacity: 60%;
}

.article_h1 {
    margin-top: 150px;
    display: flex;
    background-color: #00000045;
    backdrop-filter: blur(20px);
    justify-content: center;
}

.main {
 display: flex;
 background-color: #3C5F3F;
 flex-direction: column;
 overflow: hidden;
}

.article_h2 {
    display: flex;
    justify-content: center;
    border: 3px solid rgb(255, 255, 255, 0.89);
    border-left: none;
    margin: 60px 0;
    margin-right: 45vw; 
    padding: 20px;
}

.main__text {
    font-size: 24px;
    opacity: 60%;
    line-height: 30px;
    text-align: justify;
    padding: 0 120px;
    margin-bottom: 120px;
}

.main_img {
    height: 0px; /* Убедитесь, что это значение подходит для вашего дизайна */
}
.main_img__beer {
    opacity: 40%;
    mix-blend-mode: soft-light;
    position: relative;
    z-index: 0; 
    width: 1000px; /* Убедитесь, что это значение подходит для вашего дизайна */
    top: -500px; /* Убедитесь, что это значение подходит для вашего дизайна */
    left: 55vw; /* Убедитесь, что это значение подходит для вашего дизайна */
}

.logo {
    opacity: 89%;
    backdrop-filter: blur(20px);
    border-radius: 100%;
}

.footer {
   padding :100px 120px 50px; 
   display :flex; 
   justify-content :space-between; 
   align-items :center; 
}

.social_media {
   display:flex; 
   gap :25px; 
}

.social_media img { 
   opacity :89%; 
}

/* Стили для модального окна */
.modal {
   display:none; /* Скрыть модальное окно по умолчанию */
   position:absolute; /* Изменено на absolute для предотвращения прокрутки */
   z-index :1; /* На переднем плане */
   left :0; 
   top :0; 
   width :100%; /* Полная ширина */
   height :1860px; /* Полная высота */
   overflow:hidden; /* Убрана прокрутка */
   background-color :rgba(0,0,0,0.4); /* Черный фон с прозрачностью */
   transition: opacity 0.5s; /* Плавный переход для анимации */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   background-color:#535353; 
   margin :8% auto; /* Центрирование модального окна */
   padding :20px 50px 50px; 
   width :60%;
   border-radius: 50px;
   filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.4));
   transition: opacity 0.5s; /* Плавный переход для анимации */ 
}

.register  {
    margin :3% auto;
}

.modal-content > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal.show {
    display: block; /* Показываем модальное окно */
    opacity: 1; /* Устанавливаем непрозрачность при показе */
}

.close, 
.close-register,
.close-reservation {
   color:#E5E5E5; 
   opacity :89%; 
   float:right; 
   font-size :70px;
   transition: 150ms; 
}

.auth__title {
    margin: 0 auto;
    font-size: 48px;
    text-align: center;
}

#loginBtn {
    background-color: #ffffff00;
    border: none;
    color: rgb(255, 255, 255);
    opacity: 89%;
    transition: 150ms;
}

#loginBtn:hover,
#loginBtn:focus {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    opacity: 100%;
}

.modal__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login__form:last-child {
    align-content: flex-end;
}

.login__form > label {
    padding-left: 5px;
}

.close:hover,
.close:focus,
.close-register:hover,
.close-register:focus,
.close-reservation:hover { 
   color:rgb(255, 255, 255); 
   text-decoration:none; 
   cursor:pointer;
   transform: scale(1.3);
   transition: 200ms; 
}

.login__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/* Стили для формы в модальном окне */
label {
    padding-left: 10px;
   display:block; 
   margin-bottom :10px;
   font-size: 24px;
   opacity: 60%; 
}
input, 
select {
    width: 100%;
    padding: 15px 10px;
    padding-right: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    color: aliceblue; 
}
button[type="submit"],
button[type="button"] {
    font-family: "Orelega One", serif;
    font-size: 24px;
    text-transform: uppercase;
   padding : 20px 40px; 
   border-radius :10px; 
   border:none; 
   background-color:#558359; /* Цвет фона кнопок */
   color:rgba(255, 255, 255, 0.89); /* Цвет текста кнопок */
   cursor:pointer;
   margin-top: 15px;
   transition: 200ms; 
}

button[type="button"] {
    background-color:#ffffff00;
    padding : 18px 18px;
    border: 2px solid rgba(255, 255, 255, 0.89);
}

button[type="submit"]:hover { 
   background-color:#2a4b2a; /* Цвет фона при наведении на кнопки */
}

button[type="button"]:hover {
    background-color:#ffffff;
    color: #535353;
}

input[disabled] {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(173, 173, 173);
    cursor: not-allowed;
}

#loginError {
    margin: 0 auto;
    color: #ff4242;
}

.error {
    border: 2px solid #ff4242;
}
.error-message {
    color: #ff4242;
    font-size: 0.9em;
}

/* Адмиистративная часть */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 76px;
    padding: 10px 120px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.89);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin__table {
    display: flex;
    flex-direction: column;
    padding: 50px 120px;
    align-items: flex-end;
}

.admin {
    display: none;
}

/* Таблица */
.drop-shadow {
    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
}

table {    
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color:rgba(217, 217, 217, 0.01);
    padding: 20px 120px;
    margin: auto;
    border-bottom: 1px;
}
th, td {
    padding: 15px 5px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center; 
    vertical-align: middle;
}

td {
    padding: 10px 5px;
}
tbody > tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

th {
    color: rgba(255, 255, 255, 0.89);
    font-family: Orelega One;
    font-size: 24px;
    background-color: rgba(217, 217, 217, 0.01);
    padding: 20px 10px;
}

thead {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.89);
}

.button {
    padding: 6px 10px;
    margin: 2px;
    border: none;
    color: white;
    cursor: pointer;
}
.edit-button,
.delete-button,
.back-button,
.ahead-button {
    background-color: #4caf4f00; 
}

#filterSearch {
    max-width: 30%;
    border-radius: 50px;
    font-size: 22px;
    color: rgba(229, 229, 229, 0.6);
    height: 45px;
    padding: 0 25px;
    border: 2px solid rgba(229, 229, 229, 0.6);
    margin-bottom: 0px;
}

.nav-bar {
    display: flex;
    gap: 54px;
    align-items: center;
    font-size: 24px;
}

.admin_filters {
    display: flex;
    gap: 30px;
    align-items: center;
}

.filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.date-filter {
    display: flex;
    flex-direction: column;
}

#dateInputAdmin,
#timeInputAdmin,
#dateInputUser,
#timeInputUser {
    width: 100%;
    padding: 5px 10px;
    padding-right: 0;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.6); 
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: rgba(229, 229, 229, 0.6);
}

.pages {
    padding-left: 25px;
}

.pagination_buttons {
    padding-right: 25px;
}

.right-button,
.left-button {
    background-color: rgba(0, 0, 0, 0);
}

/* --------------------
Клиентская часть
-------------------- */
.user__table {
    display: flex;
    flex-direction: column;
    padding: 50px 120px;
    align-items: flex-end;
}

.user li button {
    display: inline;
    font-size: 24px;
    opacity: 60%;
}

.infrastructure {
    display: flex;
    padding: 38px 120px;
    flex-direction: column;
    gap: 38px;
}

.infrastructure__map {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 5vw;
    justify-content: center;
    align-items: center;
}

.map {
    max-width: 100%;
    min-width: 960px;
}

.books {
    display: flex;
    height: 0;
}

.book {
    position: relative;
    z-index: 100;
    background-color: #383838;
    border: 1px solid #FFFFFF;
    color: #fff;
    transition: 150ms;
    font-size: 16px;
}

.book:hover {
    color: #EACA9B;
    border-color: #EACA9B;
    transform: scale(1.2);
}

.book:focus {
    transform: scale(1);
    color: #eaca9b72;
    border-color: #eaca9b72;
}

.book:disabled {
    border: 1px solid rgb(137, 137, 137);
    background-color: rgb(51, 51, 51);
    color: rgb(137, 137, 137); 
    cursor: not-allowed;
}

.book:disabled:hover {
    transform: scale(1);
    border: 1px solid rgb(137, 137, 137);
    background-color: rgb(51, 51, 51);
    color: rgb(137, 137, 137); 
}

#num1 {
    bottom: 439px;
    height: 105px;
    width: 105px;
    border-radius: 100%;
    left: 45.5%;
}

#num2 {
    bottom: 419px;
    left: 57.25%;
    width: 125px;
    height: 63px;
}

#num3 {
    width: 125px;
    height: 63px;
    bottom: 419px;
    left: 59%;
}

#num4 {
    bottom: 630px;
    height: 105px;
    width: 105px;
    border-radius: 100%;
    left: 16%;
}

#num5 {
    width: 125px;
    height: 63px;
    bottom: 608px;
    left: 27%;
}

#num6 {
    width: 125px;
    height: 63px;
    bottom: 608px;
    left: 29.25%;
}

#num7 {
    width: 240px;
    height: 87px;
    bottom: 869px;
    left: -42.5%;
}

#num8 {
    width: 240px;
    height: 87px;
    bottom: 869px;
    left: -17%;
}

.booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#to-book {
    margin-top: 0;
}
.book_details {
    color: rgba(255, 255, 255, 0.3);
}
.book_details ul li {
    display: inline;
    margin-right: 10px;
}

.user_filters {
    display: flex;
    gap: 30px;
    align-items: center;
}

.user {
    display: none;
}

#confirmDeleteButton {
    background-color: rgba(255, 144, 144, 0.6);
}

#confirmDeleteButton:hover { 
    background-color:rgba(205, 57, 57, 0.6); /* Цвет фона при наведении на кнопки */
 }
 
 #deleteConfirmationModal .modal-content {
    width: 50%;
 }

 #successModal .modal-content {
    width: 30%;
 }
